<div class="card show-card">
  <div class="card-body">
    <h4 class="card-title"><%= @project.name %></h4>
    <h6 class="card-subtitle mb-2 text-muted">Created <%= @project.created_at.strftime("%Y-%m-%d") %></h6>
    <p class="card-text"><%= @project.description %></p>
    <%= link_to "Tasks", project_tasks_path(@project), class: "card-link" %>
  </div>
</div>

<%= render partial: "comments/comments", locals: { commentable: @project } %>
<%= render partial: "comments/form", locals: { commentable: @project } %>
